<h1>Benutzerübersicht</h1>

<div class="col-xs-2"></div>
<div class="col-xs-10">

  <ul class="nav nav-tabs" role="tablist">
    <li><%= link_to 'Anzeigen', accountinformations_show_path %></li>
    <li class="active"><%= link_to 'Bearbeiten', edit_user_registration_path%></li>
  </ul>
  <br>
<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :firstname %>
        <%= f.text_field :firstname, class: 'form-control' %>
      </div>
       <div class="form-group">
      <%= f.label :lastname %>
      <%= f.text_field :lastname, :autofocus => true, class: 'form-control' %>
    </div>
      <div class="form-group">
        <%= f.label :street %>
        <%= f.text_field :street, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :zipcode %>
        <%= f.text_field :zipcode, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :site %>
        <%= f.text_field :site, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :country %>
        <%= f.text_field :country, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :phone %>
        <%= f.text_field :telephone, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :geburtsdatum %>
        <%= f.date_select :birth, :start_year => 1910, :end_year => Time.now.year, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :firma %>
        <%= f.text_field :company, class: 'form-control' %>
      </div>

    <hr>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <fieldset>
      <p>Leave these fields blank if you don't want to change your password.</p>
      <div class="form-group">
        <%= f.label :passwort %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :passwort_bestätigen %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <p>You must enter your current password to make changes.</p>
      <div class="form-group">
        <%= f.label :aktuelles_passwort %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit 'Speichern', :class => 'btn btn-default' %>
  <% end %>
</div>
<div class="authform">
<h3>Benutzerkonto löschen?</h3>
<p>Unzufrieden? Wir sind traurig dies zu hören.</p>
<%= button_to "Benutzer löschen", registration_path(resource_name), :data => { :confirm => "Sind sie sich sicher?" }, :method => :delete, :class => 'btn btn-default' %>
</div>
</div>