<div class="row">
  <div class=".col-xs-3">
    <%= form_for(@cart, :url => checkout_overview_path, :method => :post) do |f| %>
      <h1>Adresseingabe</h1>
      <%= render partial: 'checkout/shared/checkout_head' %>
        </div>
      <div class="left_box"> 
        <h3>Rechnungsadresse</h3>
      </div>
      <div class="blank_div">
      </div>
        <div class="right_box">
          <h3>Lieferadresse</h3>
        </div>
      <div class="full_box">
        <div class="field">
          <%= f.check_box :optional_invoice_address %> Lieferadresse und Rechnungsadresse sind identisch <br />
        </div>
      </div> 
      <div class="left_box">   
        <table class="table">
          <tr>
            <th><%= f.label :company %></th>
            <td><%= f.text_field :invoice_company %></td>
          </tr>
          <tr>
            <th><%= f.label :firstname %></th>
            <td><%= f.text_field :invoice_firstname %></td>
          </tr>
          <tr>
            <th><%= f.label :lastname %></th>
            <td><%= f.text_field :invoice_lastname %></td>
          </tr>         
          <tr>
            <th><%= f.label :street %></th>
            <td><%= f.text_field :invoice_street %></td>
          </tr>
          <tr>
            <th><%= f.label :zipcode %></th>
            <td><%= f.text_field :invoice_zipcode %></td>
          </tr>
          <tr>
            <th><%= f.label :site %></th>
            <td><%= f.text_field :invoice_site %></td>
          </tr>
          <tr>
            <th><%= f.label :country %></th>
            <td><%= f.text_field :invoice_country %></td>
          </tr>
      </table>      
    </div>
    <div class="right_box">
      <table class="table">
        <tr>
          <th><%= f.label :company %></th>
          <td><%= f.text_field :shipping_company %></td>
        </tr>
        <tr>
          <th><%= f.label :firstname %></th>
          <td><%= f.text_field :shipping_firstname %></td>
        </tr>
        <tr>
          <th><%= f.label :lastname %></th>
          <td><%= f.text_field :shipping_lastname %></td>
        </tr>         
        <tr>
          <th><%= f.label :street %></th>
          <td><%= f.text_field :shipping_street %></td>
        </tr>
        <tr>
          <th><%= f.label :zipcode %></th>
          <td><%= f.text_field :shipping_zipcode %></td>
        </tr>
        <tr>
          <th><%= f.label :site %></th>
          <td><%= f.text_field :shipping_site %></td>
        </tr>
        <tr>
          <th><%= f.label :country %></th>
          <td><%= f.text_field :shipping_country %></td>
        </tr>
      </table>      
    </div> 
    <div class="full_box">    
      <%= f.submit 'Weiter', class: 'btn btn-default btn-xs' %>
    </div>
  <% end %>
  </div>
</div>