<div class="row">
  <div class=".col-xs-3">
    <%= form_for(@cart, :url => orders_path, :method => :post) do |f| %>
    <h1>Bestellübersicht</h1>
    <%= render partial: 'checkout/shared/checkout_head' %>
      <% if @cart.optional_invoice_address %>

        <%= render partial: 'checkout/shared/address' %>
      <% else %>

        <%= render partial: 'checkout/shared/address' %>

        <div class="blank_div">
        </div>
        <% if @cart.shipping_zipcode and @cart.shipping_site %>
          <div class="right_box">
            <h3>Lieferadresse</h3> 
            <% if @cart.shipping_company.present? %>
                <p><%= @cart.shipping_company %></p>
            <% end %>
            <p><%= "#{@cart.shipping_firstname} #{@cart.shipping_lastname}" %></p>
            <p><%= @cart.shipping_street %></p>
            <p><%= "#{@cart.shipping_zipcode} #{@cart.shipping_site}" %></p>
            <p><%= @cart.shipping_country %></p>
          </div>
      <% end %>
      <% end %> 
    <div class="full_box">   
      <% if (@cart.shipping_firstname.present? and @cart.shipping_lastname.present? and @cart.shipping_street? and @cart.shipping_zipcode and @cart.shipping_country) or ( @cart.invoice_site and @cart.invoice_zipcode and @cart.invoice_country and @cart.invoice_street) or (current_user.zipcode and current_user.street and current_user.country and current_user.site) %>    
        <%= f.submit 'Kostenpflichtig bestellen', class: 'btn btn-default btn-xs' %>
      <% else %>
      <p><strong> Sie müssen erst eine vollständige Adresse angeben um die Bestellung abschließen zu können!</strong></p>
      <% end %>
    </div>
  <% end %>
  </div>
</div>