<div class="left_box">
  <h3>Rechnungsadresse</h3>
  <% if @cart.invoice_company.present? %>
      <p><%= @cart.invoice_company %></p>
  <% end %>
  <p><%= "#{@cart.invoice_firstname} #{@cart.invoice_lastname}" %></p>
  <p><%= @cart.invoice_street %></p>
  <p><%= "#{@cart.invoice_zipcode}  #{@cart.invoice_site}" %></p>
  <p><%= @cart.invoice_country %></p>
</div>