		  <div id="left_box">
			  <h4><strong>Rechnungsadresse</h4></strong>
			    <table class="table">
		      <% if @order.invoice_company %>
		        <tr>
		          <th width="30%">Firma: </th>
		          <td><%= @order.invoice_company %></td>
		        </tr>
		      <% end %>
		      <tr>
		        <th width="30%">Vorname:</th>
		        <td><%= @order.invoice_firstname %></td>
		      </tr>
		      <tr>
		        <th width="30%">Nachname:</th>
		        <td><%= @order.invoice_lastname %></td>
		      </tr>
		      <tr>
		        <th width="30%">Strasse:</th>
		        <td><%= @order.invoice_street %></td>
		      </tr>
		      <tr>
		        <th width="30%">Postleitzahl:</th>
		        <td><%= @order.invoice_zipcode %></td>
		      </tr>
		      <tr>
		        <th width="30%">Ort:</th>
		        <td><%= @order.invoice_site %></td>
		      </tr>
		      <tr>
		        <th width="30%">Land:</th>
		        <td><%= @order.invoice_country %></td>
		      </tr>
			  </table>
			</div>