<div class="left_box">
  <h4><strong>Rechnungsadresse</h4></strong>
  <% if @order.invoice_company.present? %>
      <p><%= @order.invoice_company %></p>
  <% end %>
  <p><%= "#{@order.invoice_firstname} #{@order.invoice_lastname}" %></p>
  <p><%= @order.invoice_street %></p>
  <p><%= "#{@order.invoice_zipcode} #{@order.invoice_site}" %></p>
  <p><%= @order.invoice_country %></p>
</div>