<h3>Benutzerprofil</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Vorname: <%= @user.firstname if @user.firstname %></p>
<p>Straße: <%= @user.strasse if @user.strasse %></p>
<%= link_to 'Edit', edit_user_path, class: 'btn btn-default' %>
