<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Bestellnummer</th>
      <% if current_user.admin %>
       <th>Benutzer</th>
      <% end %>
      <th>Gesamtpreis</th>
      <th>Bestelldatum</th>
      <th>Bestellstatus </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_number %></td>
        <% if current_user.admin %>
          <td><%= order.user_id %></td>
        <% end %>
        <td><%= number_to_currency(order.total_price , :unit=>'€', separator:",", format:"%n%u") %></td>
        <td><%= order.order_date %></td>
        <td><%= order.status %></td>
        <td><%= link_to order do%>
        <i class="fa fa-eye">Anzeigen</i>
        <% end %>
        </td>
        <% if current_user.admin %>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>