<h1><strong>Vielen Dank für Ihre Bestellung!<strong></h1>

<div class="row">
  <div class=".col-xs-3">
  	<table class="table">
  	  <tr>
		<th>Ihre Bestellnummer lautet: </th>
		<td><strong><%= @order.order_number %></strong></td>
	  </tr>
	</table>
	<table class="table">
	  <thead>
	  	 <tr>
          <th>Produkt</th>
          <th>Preis</th>
          <th>Menge</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
		  <% @order.line_items.each do |items| %>
		    <tr>
			  <td><%= items.product.name %></td>
			  <td><%= number_to_currency(items.product.price) %></td>
			  <td><%= items.quantity %></td>
		    </tr>
		  <% end %>
		  <tr>
		  	<th>Der zu Zahlende Betrag ist: </th>
		  	<td><strong><%= number_to_currency(@order.total_price) %><strong></td>
		  </tr>	
	  </tbody> 
	</table>

	<%= number_to_currency(@cart.shipping_method.price) %>


	<h3>Rechnungsadresse</h3>
	  <table class="table">
	    <tr>
	      <th width="15%">Name:</th>
	      <td><%= current_user_order.lastname %></td>
	    </tr>
	    <tr>
	      <th width="15%">Vorname:</th>
	      <td><%= current_user_order.firstname %></td>
	    </tr>
	     <% if current_user_order.company %>
	      <tr>
	        <th width="15%">Firma: </th>
	        <td><%= current_user_order.company %></td>
	      </tr>
	    <% end %>
	    <tr>
	      <th width="15%">Strasse:</th>
	      <td><%= current_user_order.street %></td>
	    </tr>
	    <tr>
	      <th width="15%">Postleitzahl:</th>
	      <td><%= current_user_order.zipcode %></td>
	    </tr>
	    <tr>
	      <th width="15%">Ort:</th>
	      <td><%= current_user_order.site %></td>
	    </tr>
	    <tr>
	      <th width="15%">Land:</th>
	      <td><%= current_user_order.country %></td>
	    </tr>
	  </table>

      <p><strong>Bitte geben Sie die Bestellnummer als Verwendungszweck bei deiner Überweisung an, damit wir Ihre Zahlung zuordnen können.<strong></p>
      <br>
      <br>
      <h3>Unsere Kontodaten lauten:</h3>
	  <table class="table">
	  	<tr>
	  	  <th>Name der Bank: </th>
	  	  <td>Sparkasse Münschterland Nord</td>
	  	</tr>
	  	<tr>
	  	  <th>IBAN-Nummer</th>
	  	  <td>DE87340014513452345</td>
	  	</tr>
	  	<tr>
	  	  <th>Verwendungszweck: </th>
	  	  <td><%= @order.order_number %></td>
	  	</tr>
	  	<tr>
	  	  <th>Betrag: </th>
	  	  <td><%= number_to_currency(@order.total_price) %></td>
	  	</tr>
	  </table>

	  <br>
	  <br>
	  <p> Ihre Bestellung können sie jederzeit unter Bestellungen anschauen </p>
  </div>
</div>