<div class="row">
  <div class=".col-xs-3">
  	<h1><strong>Vielen Dank für Ihre Bestellung!<strong></h1>
  	  <table class="table">
	    <td>Ihre Bestellnummer lautet: <strong><%= @order.order_number %></strong></td>
	  </table>
	<h4><strong>Produktauflistung</strong></h4>
	  <table class="table", id="line_items">
	    <thead>
	  	   <tr>
            <th>Produkt</th>
            <th>Preis</th>
            <th>Menge</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
		  <% @order.line_items.each do |items| %>
		    <tr>
			  <td><%= items.product.name %></td>
			  <td><%= number_to_currency(items.product.price) %></td>
			  <td><%= items.quantity %></td>
		    </tr>
		  <% end %>
		  <tr>
		  	<th>Der zu Zahlende Betrag ist: </th>
		  	<td><strong><%= number_to_currency(@order.total_price) %><strong>(inkl. Versandkosten)</td>
		  </tr>	
	    </tbody> 
	  </table>

	<h4><strong>Versandart</strong></h4>
      <table class="table">
        <thead>
          <tr>
            <th width="20%">Versandart</th>
            <th width="15%">Dauer</th>
            <th width="15%">Preis</th>
          </tr>
        </thead>
        <tbody>  
          <td><%= @order.shipping_method.name %></td>
          <td><%= @order.shipping_method.duration %></td>
          <td><%= number_to_currency(@order.shipping_method.price) %></td>
        </tbody>
      </table>

	<h4><strong>Bezahlart</strong></h4>
      <table class="table">
      	<tr>
          <td>Name der Bezahlart: <%= @order.payment.name %></td>
        </tr> 
      </table>
    <br />

	<h4><strong>Rechnungsadresse</strong></h4>
	  <table class="table">
	    <tr>
	      <th width="15%">Name:</th>
	      <td><%= current_user_order.lastname %></td>
	    </tr>
	    <tr>
	      <th width="15%">Vorname:</th>
	      <td><%= current_user_order.firstname %></td>
	    </tr>
	    <% if current_user_order.company %>
	      <tr>
	        <th width="15%">Firma: </th>
	        <td><%= current_user_order.company %></td>
	      </tr>
	    <% end %>
	    <tr>
	      <th width="15%">Strasse:</th>
	      <td><%= current_user_order.street %></td>
	    </tr>
	    <tr>
	      <th width="15%">Postleitzahl:</th>
	      <td><%= current_user_order.zipcode %></td>
	    </tr>
	    <tr>
	      <th width="15%">Ort:</th>
	      <td><%= current_user_order.site %></td>
	    </tr>
	    <tr>
	      <th width="15%">Land:</th>
	      <td><%= current_user_order.country %></td>
	    </tr>
	  </table>

      <p><strong>Bitte geben Sie die Bestellnummer als Verwendungszweck bei der Überweisung an, damit wir Ihre Zahlung zuordnen können.<strong></p>
      <br />
      <br />
      <h4><strong>Unsere Kontodaten lauten:<strong></h4>
	  <table class="table">
	  	<tr>
	  	  <th>Name der Bank: </th>
	  	  <td>Sparkasse Münschterland Nord</td>
	  	</tr>
	  	<tr>
	  	  <th>IBAN-Nummer</th>
	  	  <td>DE87340014513452345</td>
	  	</tr>
	  	<tr>
	  	  <th>Verwendungszweck: </th>
	  	  <td><%= @order.order_number %></td>
	  	</tr>
	  	<tr>
	  	  <th>Betrag: </th>
	  	  <td><%= number_to_currency(@order.total_price) %></td>
	  	</tr>
	  </table>

	  <br />
	  <br />
	  <p> Ihre Bestellung können sie jederzeit unter Bestellungen anschauen </p>

	  <td><%= button_to 'Stornieren', {:controller => "orders", :action => "cancel_order"} %></td>
  </div>
</div>