<div class="row">
  <div class=".col-xs-3">
  	<br />
	    <h2>Bestell-Nr. <strong><%= @order.order_number %></strong></h2>
	    <br />
				<%= render partial: 'orders/shared/products' %>
				<%= render partial: 'orders/shared/delivery_and_payment' %>
		    <% if @order.optional_invoice_address %>
					<%= render partial: 'orders/shared/address' %>
				<% else %>
					<%= render partial: 'orders/shared/address' %>
					<div class="blank_div">
		      </div>
		      <% if @order.shipping_zipcode and @order.shipping_site %> 
		        <%= render partial: 'orders/shared/shipping' %>
		      <% end %>
				<% end %> 
				<%= render partial: 'orders/shared/account_data' %>
			  <div class="full_box">
				  <p> Ihre Bestellung können sie jederzeit unter <strong><%= link_to 'Bestellungen', orders_path %></strong> anschauen </p>
				<% if @order.status != "canceled" %>
			  	<td><%= button_to 'Bestellung stornieren', {:controller => "orders", :action => "cancel"}, class: 'btn btn-default btn-md'%></td>
			  <% end %>
			</div>
		</div>
  </div>
</div>