<div class="row">
  <div class=".col-xs-12">

    <h1>Dein Warenkorb</h1>

    <% if @cart.line_items.present? %>
      <%= form_for(@cart, :url => cart_path, :method => :put) do |f| %>
        <table class="table">
          <thead>
            <tr>
              <th width="40%">Produkt</th>
              <th width="15%">Menge</th>
              <th width="15%">Preis</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @cart.line_items.each_with_index do |line_item, index| %>
              <tr>
                <td><%= line_item.product.name %></td>
                <td>
                  <%= hidden_field_tag "cart[line_items_attributes][#{index}][id]", line_item.id %>
                  <%= text_field_tag "cart[line_items_attributes][#{index}][quantity]", line_item.quantity %>
                </td>
                <td><%= number_to_currency(line_item.total_price) %></td>
                <td>
                  <%= link_to line_item, method: :delete, data: { confirm: 'Produkt wirklich entfernen?' }, class: 'btn btn-default btn-xs' do %>
                    <i class="fa fa-trash fa-lg"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
          <table class="table">
            <tr>
              <td width="40%"></td>
              <td width="21.75%">Versandkosten</td>
              <% if @cart.shipping_method.present? %>
                <td width="15%"><%= number_to_currency(@cart.shipping_method.price) %></td>
              <% else %>
                <td width="15%"> - </td> 
              <% end %>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>Enthaltene MwSt</td>
              <td><%= number_to_currency(@cart.total_vat) %></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>Gesamt</td>
              <td><strong><%= number_to_currency((@cart.total_price + @cart.shipping_method.price)) %></strong></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <h3>Versandarten</h3>      
        <p><%= collection_select :cart, :shipping_method_id, ShippingMethod.all, :id, :name %></p>
        <table class="table">
          <thead>
            <tr>
              <th width="40%">Versandart</th>
              <th width="30%">Dauer</th>
              <th width="15%">Preis</th>
              <th width="20">MwSt</th>
            </tr>
          </thead>
          <% ShippingMethod.all.each do |shipping_method| %>
            <tbody>  
              <td><%= shipping_method.name %></td>
              <td><%= shipping_method.duration %></td>
              <td><%= number_to_currency(shipping_method.price) %></td>
              <td><%= number_to_currency(shipping_method.total_vat) %> </td> 
            </tbody>
          <% end %> 
        </table>

        <%= f.button '', :class => 'btn btn-default btn-md', type: 'submit', data: { disable_with: "Aktualisiere..." } do %>
          <i class="fa fa-save"></i> Aktualisieren
        <% end %>

        <p></p>
        <p></p>
        <p></p>

      <% end %>

        <%= button_to  @cart, :method => :delete, :confirm => "Sind Sie Sicher?", class: 'btn btn-default btn-xs' do %>
          <i class="fa fa-shopping-cart"></i> Warenkorb leeren
        <% end %>
        <p></p>
        <p></p>
        <p></p>
        <% if user_signed_in? %> 
          <%= button_to 'Kasse', checkouts_overview_path, class: 'btn btn-default btn-md' %>
        <% else %>
          <%= button_to 'Bitte melden Sie sich an', new_user_session_path, class: 'btn btn-default btn-xs' %>
        <%end%>
    <% else %>
      <p>Der Warenkorb ist leer..</p>
    <% end %>
  </div>
</div>