<h1>Produkte</h1>

  <div class="row">
    <% @products.each do |product| %>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= link_to image_tag(product.avatar.url(:medium)), product %>
        <div class="caption">
          <h3><%= link_to product.name, product %></h3>
          <p><%= simple_format product.short_description %></p>
          <% if product.in_stock %>
            <p class="text-success">Lieferbar</p>
          <% else %>
            <p class="text-warning">Nicht lieferbar</p>
          <% end %>
          <strong><%= number_to_currency(product.price) %></strong>
        </div>
      </div>
    </div>
    <% end %>
  </div>

<br>

<% if user_signed_in? and current_user.admin %>
  <br />
    <%= link_to new_product_path, class: 'btn btn-default btn-xs' do %>
      <i class="fa fa-plus"></i> Produkt anlegen
    <% end %>
<% end %>

<%= will_paginate @products, renderer: BootstrapPagination::Rails %>

