<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p><strong>Image:</strong></p>
<p><%= image_tag @product.avatar.url(:medium) %></p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<% if user_signed_in? %>
  <% if current_user.admin? %>
    <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-default btn-xs' %>
    | <%= link_to 'Back', products_path, class: 'btn btn-default btn-xs' %>
  <% end %> 
  <% else %>
  <%= link_to 'Back', products_path, class: 'btn btn-default btn-xs' %>
<% end %>
