<h1>Benutzerübersicht</h1>


<div class="col-xs-2"></div>
<div class="col-xs-10">
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'Anzeigen', accountinformations_show_path %></li>
  <li><%= link_to 'Bearbeiten', edit_user_registration_path%></li>
</ul>
  <br>
<table class="table table-striped">
  <% if current_user.admin? %>
      <tr><th>Account: </th><td><%= @user.email %></td></tr>
      <tr><th>Name: </th><td><%= @user.name %></td></tr>
  <% else %>
      <tr><th>Account:</th><td><%= @user.email %></td></tr>
      <tr><th>Name:</th><td><%= @user.name %></td></tr>
      <tr><th>Vorname:</th><td><%= @user.firstname %></td></tr>
      <tr><th>Strasse:</th><td><%= @user.street %></td></tr>
      <tr><th>PLZ:</th><td> <%= @user.zipcode %></td></tr>
      <tr><th>Telefon:</th><td> <%= @user.telephone %></td></tr>
      <tr><th>Geburtstag:</th><td> <%= @user.birth %></td></tr>
      <tr><th>Company: </th><td><%= @user.company %></td></tr>
  <% end %>
</table>
</div>

